  
.border {
  max-width: 640px;
  border: 1px solid rgb(43, 42, 129);
  margin: 30px auto;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 0 50px rgb(114, 110, 110), -10px 0 80px #5472f5,
    10px 0 80px #3cf1f1b9;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}