
.CurrentWeather .city {
  color: #42a5f5;
  font-size: 50px;
  font-weight: 300;
  padding: 8px 0px;
  margin-bottom: 0px;
}

.CurrentWeather .currentWeatherInfo,
p {
  list-style: none;
  font-size: 18px;
  padding: 5px;
}

.CurrentWeather .col-4 {
  padding: 5px;
}