.ForecastDaily .forecastList {
  list-style: none;
  font-family: "Tinos", serif;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
}

.Forecast img {
  max-width: 100px;
}