.FormattedDate h1,
h2 {
  line-height: 48px;
  font-weight: 900;
  text-align: center;
}

.FormattedDate h2 {
  color: #0b0f13;
  font-size: 24px;
}
.FormattedDate .time {
  font-size: 28px;
  font-weight: 900;
}

.FormattedDate h1 {
  color: #42a5f5;
  font-size: 50px;
  padding-top: 8px;
}