body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.App {
  border: 3px solid rgb(165, 12, 101);
  padding: 40px;
  margin: 50px auto;
  max-width: 700px;
  border-radius: 10px;
  position: relative;
}
